.about {
    padding: 50px 0;
}

.about2 {
    padding: 50px 0;
    background-color: #337ab7;
    color: white;
}

.about3 {
    padding: 50px 0;
}

.callout {
    display: table;
    width: 100%;
    height: 400px;
    color: #337ab7;
    background: url(../img/questions.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.callout2 {
    display: table;
    width: 100%;
    height: 400px;
    color: #fff;
    background: url(../img/9805970084_7d2eeb5863_k.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.callout3 {
    display: table;
    width: 100%;
    height: 400px;
    /*color: #fff;*/
    color: black;
    background: url(../img/2631992240_3def849f14_b.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.callTxt {
    background-color: lightgrey;
}