<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Why</h2>
        <p class="lead">The main reason for this widespread collection of data is for commercial reasons. Many companies generate the majority of their revenue from the sale of the anonymized data of their users. This data is mostly used for various marketing and statistical analysis, but much of it is accessible by government agencies, and if it is not secured properly, can end up in the hands of those with less honest intentions.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
