<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <!-- <h2>Overview</h2> -->
        <!-- <p class="lead">Through various monitoring techniques, many companies are able to collect and track large amounts of information about the users of their websites or online services. While much of this information is fairly harmless and is not collected with malicious intent, the very presence of this kind of monitoring practices has the potential to pose real threats to user privacy. In an article by Tomasz Bujlow discussing web tracking mechanisms, the various types of data collected are described: “Among the collected data, we can find information of technical nature, such as the browser in use, the operating system, the IP address, or even details about the underlying hardware, but also much more sensitive information, such as the geographical location of the users, their preferences or even the history of the web pages they visit. Unfortunately, the collected data do not stop here.</p> -->
        <p class="lead">The main reason for this widespread collection of data is for commercial reasons. Many companies generate the majority of their revenue from the sale of the anonymized data of their users. This data is mostly used for various marketing and statistical analysis, but much of it is accessible by government agencies, and if it is not secured properly, can end up in the hands of those with less honest intentions.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
