<section id="about2" class="about2">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <!-- <h2>Why</h2> -->
        <!-- <p class="lead">The main reason for this widespread collection of data is for commercial reasons. Many companies generate the majority of their revenue from the sale of the anonymized data of their users. This data is mostly used for various marketing and statistical analysis, but much of it is accessible by government agencies, and if it is not secured properly, can end up in the hands of those with less honest intentions.</p> -->
        <p class="lead">Web tracking techniques are quite varied and can use a myriad of different methods to access and store data on the users of a site or service. In general, the majority of tracked data is generated through cookies and other data that is stored locally on a user's machine by sites they visit. This cookie data is essentially a map of all locations that a user has visited, and in some cases can contain other personal information. If a site or analytic software gains access to this cookie data, they can begin to develop a profile on the activities of the user. 
        </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
