<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <!-- <h2>Why</h2> -->
        <p class="lead">The easiest way to restrict this form of monitoring is to limit what sites are able to set cookies locally on your machine. Most browsers have the ability to block cookies to some extent. Regularly clearing the cookies that have been stored can also be beneficial. The use of add blocking software or browser plugins can greatly reduce the ability of sites to track your web traffic. These tools can limit the amount of data that sites are able to store regarding your visit. One final method that can be used to anonymize your presence online is the use of a VPN or web proxy. Both of these services mask your location as you browse the web and make it difficult to associate a specific location with your online profile.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
