<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Learn more about web privacy</h2>
          <div class="col-md-6 portOuter">
            <div class="portfolio-item">
              <a target="_blank" href="http://www.economist.com/news/special-report/21615871-everything-people-do-online-avidly-followed-advertisers-and-third-party">
                <img class="img-portfolio img-responsive img-thumbnail" src="img/econwt.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6 portOuter">
            <div class="portfolio-item">
              <a target="_blank" href="http://arxiv.org/pdf/1507.07872v1.pdf">
                <img class="img-portfolio img-responsive img-thumbnail" src="img/webtrackingmech.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6 portOuter">
            <div class="portfolio-item">
              <a target="_blank" href="http://www.howtogeek.com/115483/htg-explains-learn-how-websites-are-tracking-you-online/">
                <img class="img-portfolio img-responsive img-thumbnail" src="img/howtogeek.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6 portOuter">
            <div class="portfolio-item">
              <a target="_blank" href="http://www.allaboutcookies.org/cookies/cookie-profiling.html">
                <img class="img-portfolio img-responsive img-thumbnail" src="img/allaboutcookies.jpg">
              </a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
        <!-- <a href="#" class="btn btn-dark">View More Items</a> -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
